nav ul {
  display: flex;
  background-color: #563d7c;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
  color: #fff;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  color: #dff305;
  text-decoration: underline;
}

.app {
  padding: 12px;
}